# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [3]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [4]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [5]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'Elena_Alvarez_Zamora'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [6]:
if not database_exists(engine.url):
    create_database(engine.url)

In [11]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', engine)
# el -1 significa que la ha creado

-1

In [ ]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [14]:
#Rellena la variable query con tu consulta
query = "select distinct launchsite from SPACEXTBL group by launchsite;"
df  = pd.read_sql(query, con = engine )
df

     launchsite
0  CCSFS SLC 40
1    KSC LC 39A
2   VAFB SLC 4E

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [58]:
query = "select launchsite from SPACEXTBL where launchsite like '%CSS%';"
df  = pd.read_sql(query, con = engine )
df

Empty DataFrame
Columns: [launchsite]
Index: []

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [47]:
query = "select round(sum(PayloadMass), 2) as masa_total from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

   masa_total
0   551119.29

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [24]:
query = "select round(AVG(PayloadMass),2) as media_masa from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

   media_masa
0     6123.55

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [57]:
query = "select MIN(date), LandingOutcome from SPACEXTBL where LandingOutcome like 'True RTLS';"
df  = pd.read_sql(query, con = engine )
df

    MIN(date) LandingOutcome
0  2015-12-22      True RTLS

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = "select BoosterVersion, PayloadMass, LandingOutcome  from SPACEXTBL where (PayloadMass between 4000 and 6000) and LandingOutcome = 'True ASDS';"
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [ ]:
query = "select Mission_Outcome,count(Mission_Outcome) from SPACEXTBL group by Mission_Outcome ;"
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query = "select PayloadMass from SPACEXTBL where PayloadMass = 15600 order by PayloadMass DESC;"
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [ ]:
query = "select LandingOutcome,count(LandingOutcome) from SPACEXTBL where YEAR(Date) = 2015 and (LandingOutcome like '%false%' or  LandingOutcome like '%none%' ) group by LandingOutcome ;"
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [ ]:
query = "select LandingOutcome,count(LandingOutcome) from SPACEXTBL where DATE(between 2010-06-04 and 2017-03-20)  group by LandingOutcome order by Date DESC ;"
df  = pd.read_sql(query, con = engine )
df